body:after{
  content: "state population visualization";
  font-family:"Andale Mono", Consolas;
  font-size:16pt;
  display:block;
  color: blue;
  position:fixed;
  bottom: 0;
  right: 0;
  margin: 10px 0;
}

rect.allPop {
  fill: steelblue;
}

rect.ofAge {
  fill: green;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.vertical-text {
  transform: rotate(270deg);
	transform-origin: left top 0;
}
